<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTextChat</title>
</head>
<body>
<input type="text" id="userNameInput" maxlength="10" placeholder="Ваш UserName"><br>
<button id="userNameBtn">Присоединиться</button><br>
<br>
<textarea id="messageLog" rows="10" cols="30" readonly></textarea><br>
<input type="text" id="messageInput" maxlength="37" placeholder="Введите сообщение..."><br>
<button id="sendMessageBtn">Отправить</button>
<p id="connectionStatus"></p>

<script src="chat.js"></script>
</body>
</html>