<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTextChat</title>
</head>
<body>
<textarea id="messageLog" rows="10" cols="30" readonly></textarea><br>
<input type="text" id="messageInput" maxlength="25" placeholder="Введите сообщение..."><br>
<button id="sendBtn">Отправить</button>
<p id="connectionStatus"></p> 

    <script src="chat.js"></script>
</body>
</html>